.container {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  margin-bottom: 4em;
  min-height: 60vh;
}
.gauche {
  display: flex;
  flex-direction: column;
}

.droite {
  width: 100%;
}

.profileUser {
  width: 100%;
}
.menuUser {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menuUser:hover {
  color: #84c476;
}

.active {
  color: #84c476;
  font-weight: bold;
}

@media (min-width: 1250px) {
  .container {
    flex-direction: row;
    margin-top: 10em;
  }
}
