
input:not(input[type=datetime-local]), textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0.5em auto;
}

select{
    width: 50%;
}

input[type=datetime-local]{
    padding: 10px;
}

h2{
    text-align: center;
    margin: 2em auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.formulaire{
    display: flex;
    flex-direction: column;
}



iframe{
    width: 100%;
    margin: 0 auto;
}

.resultImage{
    display: flex;
    flex-direction: column;
   
}

img{
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

img:hover{
    transform: scale(1.1);
}

.searchImage{
    background-color: red;
    min-height: 100vh;
    max-height:100vh;
    overflow-y: scroll;
    position: absolute;
    width: 90%;
    top:10px
}

.visibility{
    display:none
}
.fermer{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}


@media (min-width: 1250px){
    .page{
        width: 70%;
        margin: 0 auto;
    }

    .formulaire{
        flex-direction: row;
        justify-content: space-around;

        margin-top: 4em;
       
        
    }
    .droite{
        width: 50%;
    }
    .gauche{
        width: 40%;
    }
   iframe{
       margin-right: 30px;
   }

   .resultImage{
       flex-direction: row;
       flex-wrap: wrap;
       gap: 2%;
       box-sizing: border-box;
       /* margin-left: 2%; */
       
   }

   .rechercheImage{
      
   }
   
   .image{
       width: 48%;
       object-fit: cover;
       
   }

   .searchImage{
    width: 60%;
    min-height: 80vh;
    max-height: 80vh;
   }

}