.navbar {
  border-bottom: 1px solid rgb(233, 232, 232);
  position: fixed;
  background-color: white;
  width: 80%;
  top: 0;
  padding: 10px;
  z-index: 97;
}

.navImg {
  width: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.containerImageMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.containerImageMenu:hover .navImg {
  transform: scale(1.1);
}
.containerImageMenu:hover p {
  color: #84c476;
}

.containerImageMenu p {
  margin-left: 10px;
  font-size: 11px;
  transition: 0.2s ease-in-out;
}

.active {
  color: #84c476;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
