button{
    background-color: #84c476;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.4s ease;
    font-size: 15px;
    color:#1c3d15;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

button:hover{
    background-color: #d164a7;
}

@media (min-width: 1250px){
    button{
        width: 50%;
        margin-bottom: 2em;
    }
}