.identity{
    margin-top: 7em;
    display: flex;
    flex-direction: column;
 
}

p{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    
}

.email1  {
    padding-left: 7px;
}

.inputEmail{
    margin-left: 7px;
    margin-right: 7px;
}
.email{
    background-color: red;
}


.identity h1{
    text-align: center;
}
